<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<!--Settings for Service Repository-->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:49169/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="PeopleWCFService.IService" name="BasicHttpBinding_IService" />
		</client>
	</system.serviceModel>
	<!--Settings for CSV Repository-->
	<appSettings>
		<add key="CSVFileName" value="People.txt" />
	</appSettings>
	<!--Setting for SQL Reposiroty-->
	<connectionStrings>
		<add name="PeopleModelContainer" connectionString="metadata=res://*/PeopleModel.csdl|res://*/PeopleModel.ssdl|res://*/PeopleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Olonyl\source\repos\Kraken.Interfaces.Static\db\People.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>